<?xml version="1.0"?>

<launch>
    
    <!-- start sensor-->
    <include file="$(find cnbiros_robotino_bci)/launch/kinect2_bridge.launch">
        <arg name="fps_limit" default="10"/>
    </include>

    <!-- Rosbag -->
	<node pkg="rosbag" type="record" name="rosbag_record_kinect" args=" -o /mnt/data/video/ record /kinect2/hd/image_color/compressed" /> 

   
</launch>
