<?xml version="1.0"?>
<launch>

	<!-- ***************** Arguments ********************* -->
	<arg name="kinect"					default="False" />
	<arg name="tracking"				default="False" />

	<arg name="set_robotino_address"	default="192.168.1.3" />
	<!-- ************************************************* -->

	<machine name="robot" address="robot" env-loader="/home/robotino/cnbiros_ws/test.sh" user="robotino" password="pwd4cnbi"/>

	<node machine="robot" name="robotino" pkg="cnbiros_robotino" type="ros_robotino" output="screen" >
		<rosparam subst_value="True" param="address">$(arg set_robotino_address)</rosparam>
	</node>

</launch>

